.complete {
  text-decoration: line-through;
}

input:read-only {
  border: 0;
}

.edit {
  text-decoration: none;
}

/* .mat-mdc-list-base {
  --mdc-list-list-item-one-line-container-height: auto;
} */

.mat-item-container {
  display: flex;
  align-items: baseline;
  column-gap: 8px;
}

.todo-name {
  flex-grow: 1;
}

.mat-mdc-card {
  min-width: 625px;
  max-width: 625px;
  row-gap: 0px;
}

.mat-mdc-list {
  margin-top: 9px;
}

.container-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 48px;
}
