<h1>Hello World</h1>

<div>
  <label for="newTodo">Add Todo: </label>
  <input id="newTodo" type="text" [formControl]="newTodo" placeholder="enter todo text" (keyup.enter)="createTodo()" required>
  <button (click)="createTodo()" [disabled]="!newTodo.valid">Add Todo</button>
</div>

<div *ngIf="todos.length > 0; else noTodos">
  <li *ngFor="let todo of todos">
    <span>{{todo.id}}</span>

    <span *ngIf="!isEditMode || itemToEdit !== todo.id else editMode" [class.complete]="todo.isComplete === true">{{todo.name}}</span>

    <span>
      <input type="checkbox" [(ngModel)]="todo.isComplete"/>
    </span>

    <button *ngIf="isEditMode && todo.id === itemToEdit" (click)="updateTodo(todo.id)">Save</button>

    <button (click)="toggleEditMode(todo.id)" [disabled]="isEditMode && todo.id !== itemToEdit">
      <span *ngIf="!isEditMode || itemToEdit !== todo.id else cancel">Edit</span>
    </button>

    <button (click)="deleteTodo(todo.id)" [disabled]="isEditMode">Delete</button>
  </li>
</div>

<ng-template #noTodos>There are no todos, all caught up!</ng-template>
<ng-template #cancel>Cancel</ng-template>
<ng-template #editMode let-todo>
  <input id="editTodo" [formControl]="editTodo" [class.complete]="todo.isComplete === true" [class.edit]="isEditMode && todo.id === itemToEdit">
</ng-template>
